# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/
.env/

# IDE / editor
.vscode/
.idea/
*.code-workspace

# OS junk
.DS_Store
Thumbs.db

# Local data / exports
cache/
ydr_convert_*/

# Logs
*.log


sync_config.jsonc